{% extends "base.html" %}

{% block content %}
<div class="column is-14">
  <h3 class="title">Uploaded File</h3>
  <div class="box" style="margin-left:25%; width: 50%;">
    <table class="table is-hoverable is-fullwidth">
      <thead> 
        <tr">     
          <th>Sr. No.</th> 
          <th>Files</th>
          <th></th> 
        </tr>   
      </thead> 
      <tbody>
      {% for i in range(files.count()) %}
      <tr>
        <th>{{ i+1 }}</th>
        <td>{{ files[i].fileName }}</td>
        <form method="POST" action="/download">
          <td>
            <!-- <a class="button is-link is-outlined" type="submit" >Download</a> -->
            <input type="hidden" value="{{ files[i].mapped_id }}" name="mapped_id" />
            <button class="button is-link is-outlined" type="submit" download="files[i].fileName">Download</button>
          </td>
       </form> 
      </tr>
      {%endfor%}
    </tbody> 
    </table>
  </div>
</div>

{% endblock %}